:root {
 

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow:hidden;
}
.banner {
    background-image: url(../img/bgg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    height:100vh;

}
img {
    height: 40px;
    width: 40px;
    margin-left: 15vw;
}

.content
{
   

    display: flex;
    justify-content: center;
    align-items: center;
    
}
form{
    margin-top:15%;
 
   padding-left: 10px;
   padding-right: 10px;

   background-color: rgb(13, 13, 65);
   width:37vw;
   height:19rem;
   border-radius: 3%;
   



}
.lab
{
    color:white;
    right: 32%;
}
